# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.mainproject1.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Gio\RiderProjects\mainproject1\.idea\.idea.mainproject1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
